{% extends "base.html" %} {% block blockname %}
<div class="body">
  <div class="form-container">
    <h3 >Find Even Odd</h3>
    <form class="" method="post">
      {% if error %}
      <div class="alert">A simple danger alert—check it out!</div>
      {% endif %} 
      {% csrf_token %}
      <input
        type="text"
        id="num1"
        value="{{n1}}"
        name="num1"
        placeholder="Enter first number"
      />
      <button type="submit">Even | Odd</button>
      <input type="text" value="{{c}}" placeholder="Even or Odd" />
    </form>
  </div>
</div>
{% endblock %}
