<footer>
    <div class="social-media">
        <h2>Follow Us On</h2>
        <div class="icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-x-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-tiktok"></i></a>
        </div>
    </div>

    <div class="footer-content">
        <div class="footer-logo">
            <img src="/static/assets/CW-Dark-Logo (1).png" alt="Coffee Wagera Logo">
            <p>CW was launched in April 2018, with a dream to become the biggest and the best coffee brand of
                Pakistan!</p>
        </div>

        <div class="footer-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Our Values</a></li>
                <li><a href="#">Our SOPs</a></li>
                <li><a href="#">Our Founder</a></li>
            </ul>
        </div>

        <div class="footer-info">
            <h3>Information</h3>
            <ul>
                <li><a href="#">Franchising</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Jobs</a></li>
            </ul>
        </div>

        <div class="footer-app">
            <h3>CW App</h3>
            <a href="#"><img src="/static/assets/Google-Play.png" alt="Google Play"></a>
            <a href="#"><img src="/static/assets/App-Store.png" alt="App Store"></a>
        </div>
    </div>
</footer>


</body>

</html>