{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Landing Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css '%}">
    
</head>

<body>

    <header>
        <h1>Coffee<span>.</span></h1>
      
        <div class="nav-area">
          <input type="checkbox" id="menu-toggle" />
          <label for="menu-toggle" class="menu-icon">&#9776;</label>
      
          <nav>
            <ul>
                {% comment %} {{request.path}} wporking like ap kis page pr ho  {% endcomment %}
              <li  class="{%  if request.path == '/' %} active {% endif %}"><a href="/">Home</a></li>
              {% url "product" as url %} 
              {% comment %} using this we use url variable instead or path  {% endcomment %}
              <li  class="{%  if request.path == url %} active {% endif %}"><a href="{% url 'product' %}">Products</a></li>
              <li  class="{%  if request.path == '' %} active {% endif %}"><a href="#">Testimonials</a></li>
              <li  class="{%  if request.path == '/about-us/' %} active {% endif %}"><a href="/about-us">About us</a></li>
              <li  class="{%  if request.path == '' %} active {% endif %}"><a href="/about">Contact us</a></li>
            </ul>
          </nav>
        </div>
      </header>
      

    