{% extends  "base.html" %}

{%  block blockname %}

<section class="hero">
    <div class="hero-content">
        <h2>All Products </h2>
        <p>Coffee is a popular and beloved beverage enjoyed by people around the world.</p>
        <a href="#" class="btn">Order Now</a>
    </div>
</section>
<section class="order-now">
    <h2>Order Now</h2>

    <p style="color: black;">From a full range of hot/cold coffees, other beverages and snacks.</p>


    <div class="menu-container">
        <div class="menu-item">
            <img src="/static/assets/1 pic.jpg" alt="Cold Beverage">
            <div class="overlay">
                <h3>Cold Beverage</h3>
                <p>Chill with our signature brews served cold for your pleasure.</p>
            </div>
        </div>

        <div class="menu-item">
            <img src="/static/assets/images (1).jpg" alt="Savories">
            <div class="overlay">
                <h3>Savories</h3>
                <p>Experience homemade delights from our local vendors.</p>
            </div>
        </div>

        <div class="menu-item">
            <img src="/static/assets/pic 3.jpg" alt="Dessert">
            <div class="overlay">
                <h3>Dessert</h3>
                <p>Delightful treats to pair with your coffee cravings!</p>
            </div>
        </div>
        <div class="menu-item">
            <img src="/static/assets/1 pic.jpg" alt="Cold Beverage">
            <div class="overlay">
                <h3>Cold Beverage</h3>
                <p>Chill with our signature brews served cold for your pleasure.</p>
            </div>
        </div>

        <div class="menu-item">
            <img src="/static/assets/images (1).jpg" alt="Savories">
            <div class="overlay">
                <h3>Savories</h3>
                <p>Experience homemade delights from our local vendors.</p>
            </div>
        </div>

        <div class="menu-item">
            <img src="/static/assets/pic 3.jpg" alt="Dessert">
            <div class="overlay">
                <h3>Dessert</h3>
                <p>Delightful treats to pair with your coffee cravings!</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}