{% extends "base.html" %} {% block blockname %}
<div class="body">
  <div class="form-container">
    <h3>User Form</h3>
    <form>
      <label for="name">Value1</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Value2</label>
      <input type="text" id="email" name="email" required />

      <button type="submit">Submit</button>
      <label for="email">OutPut</label>

      <input type="text" value="{{output}}"/>
    </form>
  </div>
</div>
  {% endblock %}
